/*Styling*/
h1 {
  margin-bottom: 80px;
}

/*Circles*/
.circles {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 950px;
  overflow: hidden;
  z-index: -1;
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-800px);
  }
}

.circles div {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  left: 0.5%;
  border-radius: 4px;
  background: var(--quinary);
  bottom: -80px;
  animation: float 25s linear infinite;
}

.circles div:nth-child(1) {
  left: 15%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
}

.circles div:nth-child(2) {
  left: 5%;
  width: 60px;
  height: 60px;
  background: var(--septenary);
  animation-delay: 2s;
  animation-duration: 15s;
}

.circles div:nth-child(3) {
  left: 10%;
  width: 20px;
  height: 20px;
  background: var(--senary);
  animation-delay: 4s;
  animation-duration: 35s;
}

.circles div:nth-child(4) {
  left: 2%;
  width: 15px;
  height: 15px;
  animation-delay: 0s;
  animation-duration: 30s;
}

.circles div:nth-child(5) {
  left: 45%;
  width: 60px;
  height: 60px;
  animation-delay: 6s;
}

.circles div:nth-child(6) {
  left: 25%;
  width: 40px;
  height: 40px;
  background: var(--senary);
  animation-delay: 1s;
}

.circles div:nth-child(7) {
  left: 65%;
  width: 50px;
  height: 50px;
  background: var(--septenary);
  animation-delay: 4s;
}

.circles div:nth-child(8) {
  left: 82%;
  width: 80px;
  height: 80px;
  background: var(--senary);
  animation-delay: 4s;
  animation-duration: 30s;
}

.circles div:nth-child(9) {
  left: 95%;
  width: 60px;
  height: 60px;
  animation-delay: 8s;
}

.circles div:nth-child(10) {
  left: 88%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 25s;
}

.circles div:nth-child(11) {
  left: 91%;
  width: 40px;
  height: 40px;
  background: var(--septenary);
  animation-delay: 4s;
  animation-duration: 24s;
}

.circles div:nth-child(12) {
  left: 90%;
  width: 15px;
  height: 15px;
  animation-delay: 15s;
  animation-duration: 30s;
}

.circles div:nth-child(13) {
  left: 30%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 30s;
}

.circles div:nth-child(14) {
  left: 55%;
  width: 15px;
  height: 15px;
  background: var(--senary);
  animation-delay: 0s;
}

/*Scroll image*/
.image_gallery {
  position: relative;
  padding-bottom: 40px;
}

div.scrollimage {
  overflow: auto;
  white-space: nowrap;
}

div.scrollimage a {
  display: inline-block;
  color: var(--secondary);
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin-block: 10px;
}

.forside {
  background-color: #f9d0cf;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.web {
  background-color: #b4d3d3;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.ux {
  background-color: #afd6be;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.animation {
  background-color: #f9d0cf;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.indhold {
  background-color: #b4d3d3;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.portfolio {
  background-color: #afd6be;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.mig {
  background-color: #f9d0cf;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

div.scrollimage img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.arrows {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.fa-mouse {
  font-size: 1.5rem;
  margin-left: 50px;
}

.fa-angle-double-right {
  margin-left: 50px;
  font-size: 1.5rem;
}

.fa-angle-double-right:hover {
  color: var(--tertiary);
}

.fa-angle-double-left {
  font-size: 1.5rem;
}

.fa-angle-double-left:hover {
  color: var(--tertiary);
}

@media (max-width: 600px) {
  main {
    margin-inline: 5px;
  }

  .circles {
    height: 520px;
  }

  @keyframes float {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-400px);
    }
  }

  .circles div:nth-child(1) {
    left: 9%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
  }

  .circles div:nth-child(2) {
    left: 0.5%;
    width: 20px;
    height: 20px;
    background: var(--septenary);
    animation-delay: 4s;
    animation-duration: 20s;
  }

  .circles div:nth-child(3) {
    left: 85%;
    width: 50px;
    height: 50px;
    background: var(--senary);
    animation-delay: 2s;
  }

  .circles div:nth-child(4) {
    left: 22%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    animation-duration: 30s;
  }

  .circles div:nth-child(5) {
    left: 45%;
    width: 60px;
    height: 60px;
    animation-delay: 6s;
  }

  .circles div:nth-child(6) {
    left: 29%;
    width: 40px;
    height: 40px;
    background: var(--senary);
    animation-delay: 2s;
  }

  .circles div:nth-child(7) {
    left: 65%;
    width: 30px;
    height: 30px;
    background: var(--septenary);
    animation-duration: 20s;
  }

  .circles div:nth-child(8) {
    left: 78%;
    width: 20px;
    height: 20px;
    background: var(--quinary);
    animation-delay: 6s;
  }

  .circles div:nth-child(9) {
    display: none;
    left: 95%;
    width: 60px;
    height: 60px;
    animation-delay: 10s;
  }

  .circles div:nth-child(10) {
    display: none;
    left: 88%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 25s;
  }

  .circles div:nth-child(11) {
    display: none;
    left: 34%;
    width: 40px;
    height: 40px;
    background: var(--septenary);
    animation-delay: 10s;
    animation-duration: 24s;
  }

  .circles div:nth-child(12) {
    display: none;
    left: 90%;
    width: 15px;
    height: 15px;
    animation-delay: 15s;
    animation-duration: 30s;
  }

  .circles div:nth-child(13) {
    display: none;
    left: 20%;
    width: 20px;
    height: 20px;
    animation-delay: 10s;
    animation-duration: 20s;
  }

  .circles div:nth-child(14) {
    display: none;
    left: 55%;
    width: 15px;
    height: 15px;
    background: var(--senary);
    animation-delay: 10s;
  }
}
