/*Styling*/
h1 {
  margin-bottom: 80px;
}

/*Circles*/
.circles {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 1040px;
  overflow: hidden;
  z-index: -1;
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-800px);
  }
}

.circles div {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  left: 0.5%;
  border-radius: 4px;
  background: var(--quinary);
  bottom: -80px;
  animation: float 25s linear infinite;
}

.circles div:nth-child(1) {
  left: 15%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
}

.circles div:nth-child(2) {
  left: 5%;
  width: 60px;
  height: 60px;
  background: var(--septenary);
  animation-delay: 2s;
  animation-duration: 15s;
}

.circles div:nth-child(3) {
  left: 10%;
  width: 20px;
  height: 20px;
  background: var(--senary);
  animation-delay: 4s;
  animation-duration: 35s;
}

.circles div:nth-child(4) {
  left: 2%;
  width: 15px;
  height: 15px;
  animation-delay: 0s;
  animation-duration: 30s;
}

.circles div:nth-child(5) {
  left: 45%;
  width: 60px;
  height: 60px;
  animation-delay: 6s;
}

.circles div:nth-child(6) {
  left: 25%;
  width: 40px;
  height: 40px;
  background: var(--senary);
  animation-delay: 1s;
}

.circles div:nth-child(7) {
  left: 65%;
  width: 50px;
  height: 50px;
  background: var(--septenary);
  animation-delay: 4s;
}

.circles div:nth-child(8) {
  left: 82%;
  width: 80px;
  height: 80px;
  background: var(--senary);
  animation-delay: 4s;
  animation-duration: 30s;
}

.circles div:nth-child(9) {
  left: 95%;
  width: 60px;
  height: 60px;
  animation-delay: 8s;
}

.circles div:nth-child(10) {
  left: 88%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 25s;
}

.circles div:nth-child(11) {
  left: 91%;
  width: 40px;
  height: 40px;
  background: var(--septenary);
  animation-delay: 4s;
  animation-duration: 24s;
}

.circles div:nth-child(12) {
  left: 90%;
  width: 15px;
  height: 15px;
  animation-delay: 15s;
  animation-duration: 30s;
}

.circles div:nth-child(13) {
  left: 30%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 30s;
}

.circles div:nth-child(14) {
  left: 55%;
  width: 15px;
  height: 15px;
  background: var(--senary);
  animation-delay: 0s;
}

/*Scroll image*/
.image_gallery {
  position: relative;
}

div.scrollimage {
  overflow: auto;
  white-space: nowrap;
}

div.scrollimage a {
  display: inline-block;
}

div.scrollimage img {
  border-radius: 5px;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-inline: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

@media (max-width: 600px) {
  main {
    margin-inline: 5px;
  }

  .dot {
    height: 12px;
    width: 12px;
    margin-inline: 2px;
  }
}
