main {
  max-width: 1200px;
}

h1 {
  margin-bottom: 80px;
}

h2 {
  margin-bottom: 20px;
  margin-top: 10px;
}

h3 {
  font-family: puffin-display-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--tertiary);
}

.facts li {
  margin-bottom: 12px;
  margin-left: 15px;
}

p {
  margin-bottom: 20px;
}

.facts {
  margin-top: 50px;
}

.facts li {
  list-style: circle;
}

img {
  border-radius: 5px;
}

.grid_1-1 img {
  border: 4px solid var(--quinary);
}

.pic {
  padding: 4px;
  background: var(--septenary);
  border-radius: 5px;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-block: 50px;
}

.image_4 {
  grid-column: span 2;
}

section {
  margin-top: 30px;
}

.grid_1-1_3 {
  background-color: #f5ca9e40;
  padding: 60px;
  margin-top: 100px;
}

.grid_1-1_3 h3 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--tertiary);
}

.grid_1-1_3 div > * {
  margin-top: 15px;
}

.social-media {
  display: grid;
  grid-template-columns: 1fr 15fr;
  padding-top: 10px;
}

.social-media > * {
  margin-block: 10px;
}

.social-media a {
  font-family: puffin-display-soft, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--secondary);
  text-decoration: none;
  margin-block: 10px;
}

.social-media i {
  font-size: 1.4rem;
}

.uddannelser {
  padding-top: 10px;
}

.tid {
  text-align: end;
  font-size: 0.9rem;
}

.uddannelser li {
  margin-bottom: 2px;
  list-style: none;
  margin-block: 10px;
}

.om_mig li {
  list-style: circle;
  margin-bottom: 20px;
}

.om_mig {
  padding-top: 10px;
}

.job {
  padding-top: 10px;
}

.job li {
  list-style: none;
  margin-block: 10px;
  margin-bottom: 2px;
}

.kvickly {
  font-size: 0.9rem;
  margin-block: 10px;
}

.interesser {
  margin-top: 30px;
}

.mine_interesser {
  padding-top: 10px;
}

.mine_interesser li {
  list-style: circle;
  margin-bottom: 20px;
}

@media (min-width: 812px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid_1-1_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .grid_1-1_3 h3 {
    margin-inline: 80px;
  }

  .social-media {
    margin-left: 80px;
  }

  .uddannelser {
    margin-left: 80px;
  }

  .tid {
    margin-right: 80px;
  }

  .om_mig li {
    margin-left: 95px;
  }

  .job li {
    margin-left: 80px;
  }

  .mine_interesser li {
    margin-left: 95px;
  }
}

@media (max-width: 812px) {
  .pic {
    margin-top: 30px;
  }

  .kontakt {
    margin-bottom: 40px;
  }

  .uddannelse {
    margin-bottom: 40px;
  }

  .profil {
    margin-bottom: 40px;
  }

  .erfaring {
    margin-bottom: 40px;
  }

  .interesser {
    margin-bottom: 40px;
  }

  .kvickly li {
    font-size: 0.7rem;
  }
}

@media (max-width: 1200px) and (min-width: 1105px) {
  main {
    margin-inline: 10px;
  }
}

@media (max-width: 1105px) and (min-width: 1090px) {
  .pic {
    height: 527px;
  }
}

@media (max-width: 1090px) and (min-width: 1060px) {
  .pic {
    height: 520px;
  }
}

@media (max-width: 1060px) and (min-width: 1030px) {
  .pic {
    height: 505px;
  }
}

@media (max-width: 1030px) and (min-width: 997px) {
  .pic {
    height: 488px;
  }
}

@media (max-width: 997px) and (min-width: 967px) {
  .pic {
    height: 474px;
  }
}

@media (max-width: 967px) and (min-width: 945px) {
  .pic {
    height: 459px;
  }
}

@media (max-width: 945px) and (min-width: 922px) {
  .pic {
    height: 448px;
  }
}
@media (max-width: 922px) and (min-width: 893px) {
  .pic {
    height: 437px;
  }
}

@media (max-width: 893px) and (min-width: 865px) {
  .pic {
    height: 422px;
  }
}

@media (max-width: 865px) and (min-width: 835px) {
  .pic {
    height: 408px;
  }
}

@media (max-width: 835px) and (min-width: 812px) {
  .pic {
    height: 392px;
  }
}
