html {
  --primary: #faf9f6;
  --secondary: #524d3f;
  --tertiary: #252525;
  --quaternary: #b45d3c;
  --quinary: #e77d79;
  --senary: #df9f57;
  --septenary: #f5ca9e;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: puffin-display-soft, sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 1rem;
}

main {
  max-width: 1000px;
  margin-inline: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: trilby, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-family: puffin-display-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}

button {
  font-family: parity-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
}

/*Menu*/
header {
  margin-bottom: 50px;
}

.logo img {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: 20px;
}

.dropdownmenu {
  background-color: var(--primary);
  /* box-shadow: 0 12px 28px 0 rgb(0 0 0 /30%); */
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.dropdownmenu ul {
  list-style: none;
}

.dropdownmenu li {
  float: left;
  position: relative;
  width: auto;
}

.dropdownmenu a {
  color: var(--tertiary);
  display: block;
  font-family: parity-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 15px 25px;
  margin-inline: 70px;
  text-decoration: none;
  transition: all 0.25s ease;
}

.dropdownmenu li:hover a {
  background: var(--primary);
  color: #585858;
  font-size: 1.35rem;
}

#submenu {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 45px;
  visibility: hidden;
  z-index: 1;
}

li:hover ul#submenu {
  opacity: 1;
  top: 60px;
  visibility: visible;
}

#submenu li {
  float: none;
  width: 100%;
}

#submenu a {
  color: var(--tertiary);
}

#submenu a:hover {
  background: #efefee;
}

#submenu a {
  background-color: var(--primary);
}

/*Burger menu*/

/*Footer*/
.footer {
  margin-top: 150px;
  width: 100%;
  padding: 100px 15%;
  background: var(--quaternary);
  color: var(--primary);
  display: flex;
}

.col_1 h3 img {
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: -28px;
}

.footer div {
  text-align: center;
}

.footer div p {
  text-align: left;
}

.footer div div {
  text-align: left;
}

.col_2 {
  flex-grow: 2;
}

.footer div h3 {
  font-family: puffin-display-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--tertiary);
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.col_1 a {
  color: var(--tertiary);
  font-size: 1.3rem;
  margin-inline: 5px;
  text-decoration: none;
}

.col_1 h3 {
  border-bottom: 2px solid var(--tertiary);
  padding-bottom: 20px;
}

.col_3 h3 {
  border-bottom: 2px solid var(--tertiary);
  padding-bottom: 20px;
}

.footer div p {
  margin-bottom: 10px;
}

form input {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  border: none;
}

form button {
  background: var(--tertiary);
  color: var(--primary);
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
}
