html {
  --primary: #faf9f6;
  --secondary: #524d3f;
  --tertiary: #252525;
  --quaternary: #b45d3c;
  --quinary: #e77d79;
  --senary: #df9f57;
  --septenary: #f5ca9e;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: puffin-display-soft, sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 1rem;
}

main {
  max-width: 1000px;
  margin-inline: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: trilby, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-family: puffin-display-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}

button {
  font-family: parity-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
}

/*Menu*/
header {
  margin-bottom: 50px;
}

@media (min-width: 600px) {
  .logo img {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: 20px;
  }

  .dropdownmenu {
    background-color: var(--primary);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .dropdownmenu ul {
    list-style: none;
  }

  .dropdownmenu li {
    float: left;
    position: relative;
    width: auto;
  }

  .dropdownmenu a {
    color: var(--tertiary);
    display: block;
    font-family: parity-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 15px 25px;
    margin-inline: 70px;
    text-decoration: none;
    transition: all 0.25s ease;
  }

  .dropdownmenu li:hover a {
    background: var(--primary);
    color: #585858;
    font-size: 1.35rem;
  }

  #submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 45px;
    visibility: hidden;
    z-index: 1;
  }

  li:hover ul#submenu {
    opacity: 1;
    top: 60px;
    visibility: visible;
  }

  #submenu li {
    float: none;
    width: 100%;
  }

  #submenu a {
    color: var(--tertiary);
  }

  #submenu a:hover {
    background: #efefee;
  }

  #submenu a {
    background-color: var(--primary);
  }
}

/*Burger menu*/

.toggle-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  min-width: 44px;
  min-height: 44px;
}

@media (max-width: 600px) {
  .banner {
    background: var(--primary);
    padding: 2rem;

    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px 40px;
  }

  .logo img {
    width: 70;
    height: 70px;
  }

  .main-menu.shown a {
    font-family: parity-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--tertiary);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.5rem;
  }

  .main-menu.shown a:hover {
    color: var(--primary);
  }

  .toggle-btn {
    display: block;
  }

  .main-menu.shown {
    display: contents;
  }

  .main-menu ul {
    display: none;
  }

  .main-menu.shown > ul {
    border-top: 1px solid var(--tertiary);
    padding-top: 1rem;
  }

  .main-menu.shown ul {
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
    list-style: none;
    gap: 12px;
    font-size: 1.2rem;
  }

  .temaer a {
    display: none;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--tertiary);
    margin: 6px 0;
    border-radius: 5px;
    transition: 0.4s;
  }

  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
}

/*Footer*/
.footer {
  margin-top: 150px;
  width: 100%;
  padding: 100px 15%;
  background: var(--quaternary);
  color: var(--primary);
  display: flex;
}

.col_1 h3 img {
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: -28px;
}

.footer div {
  text-align: center;
}

.footer div p {
  text-align: left;
}

.footer div div {
  text-align: left;
}

.col_2 {
  flex-grow: 2;
}

.footer div h3 {
  font-family: puffin-display-soft, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--tertiary);
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.col_1 a {
  color: var(--tertiary);
  font-size: 1.3rem;
  margin-inline: 5px;
  text-decoration: none;
}

.col_1 h3 {
  border-bottom: 2px solid var(--tertiary);
  padding-bottom: 20px;
}

.col_3 h3 {
  border-bottom: 2px solid var(--tertiary);
  padding-bottom: 20px;
}

.footer div p {
  margin-bottom: 10px;
}

form input {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  border: none;
}

form button {
  background: var(--tertiary);
  color: var(--primary);
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .footer {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    padding: 0px;
    padding-block: 100px;
  }

  .col_1 {
    padding-inline: 40px;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  .col_3 {
    padding-inline: 40px;
    margin-bottom: 30px;
    margin-top: 50px;
  }

  form input {
    width: 300px;
  }
}
