main {
  max-width: 1200px;
}

section {
  background-color: #f5ca9e40;
  padding: 50px;
}

h1 {
  margin-bottom: 80px;
}

h2 {
  margin-bottom: 20px;
  margin-top: 10px;
}

p {
  margin-bottom: 20px;
}

img {
  border-radius: 5px;
}

.button {
  margin-top: 40px;
  text-align: center;
}

.button a {
  background-color: var(--senary);
  padding: 15px 30px;
  border-radius: 10px;
  color: var(--primary);
  text-decoration: none;
  text-transform: uppercase;
  font-family: parity-sans, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  font-style: normal;
}

.reverse a {
  background-color: var(--primary);
  color: var(--senary);
  border: 1px solid var(--senary);
  padding: 15px 40px;
}

@media (min-width: 812px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .order h2 {
    text-align: end;
  }

  .order p {
    text-align: end;
  }

  .pic2 {
    display: none;
  }
}

@media (max-width: 812px) {
  main {
    margin-inline: 10px;
  }

  section {
    padding: 25px;
    border-radius: 5px;
  }

  .pic1 {
    display: none;
  }

  .button {
    margin-bottom: 80px;
  }
}
