main {
  max-width: 1200px;
}

section {
  background-color: #e77d7940;
  padding: 50px;
}

h1 {
  margin-bottom: 80px;
}

h2 {
  margin-bottom: 20px;
  margin-top: 10px;
}

.order h2 {
  text-align: end;
}

.order p {
  text-align: end;
}

p {
  margin-bottom: 20px;
}

img {
  border-radius: 5px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.button {
  margin-top: 40px;
  text-align: center;
}

.button a {
  background-color: var(--septenary);
  padding: 15px 30px;
  border-radius: 10px;
  color: var(--primary);
  text-decoration: none;
  text-transform: uppercase;
  font-family: parity-sans, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  font-style: normal;
}

.reverse a {
  background-color: var(--primary);
  color: var(--septenary);
  border: 1px solid var(--septenary);
  padding: 15px 40px;
}
